.windowFour {
  display: flex;
  align-items: center;
  padding-left: calc(6.4vw - 3px);
  padding-bottom: calc(5vw + 54px);
  background-color: var(--bg);

  .windowFourLeft {
    display: flex;
    flex-direction: column;
    gap: calc(1.7vw + 20px);
    width: 40%;
  }

  .windowFourRight img {
    width: calc(43.5vw + 203px);
    @media screen and (max-width: 1300px) and (min-width: 1000px) {
      /* Ваши стили для этого диапазона размеров экрана */
        width: 90%;
    }
  }
}

.titlePFor100px {
  display: none;
}

@media (max-width: 1000px) {
  .windowFour {
    padding: 0;
    flex-wrap: wrap;

    .windowFourRight {
        width: 100%;
      display: flex;
      justify-content: center;
    }
    .windowFourLeft {
      padding: 0 calc(6.4vw - 3px);
      width: 100%;
      margin-bottom: -40px;
      .windowFourLeftText {
        display: none;
      }
      .titlePFor100px {
        display: flex;
        flex-direction: column;
        gap: calc(1.7vw + 20px);
      }
    }
  }
}
