@charset "UTF-8";
@font-face {
  font-family: "Terminator Genisys";
  src: url("../../../font/Terminator_Genisys.ttf") format("truetype");
  /* Дополнительные стили (если нужны) */
}
.windowOne {
  margin-top: -20px;
}
.windowOne .image-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s ease; /* Add this line for smooth transitions */
  height: calc(32vw + 285px);
  position: relative;
}
.windowOne .contentBtnForWindowOne {
  display: flex;
  justify-content: start;
  gap: calc(0.5vw + 10px);
}
.windowOne .contentBtnForWindowOne button {
  padding: calc(0.64vw + 11.7px) calc(0.64vw + 8.7px);
  font-size: calc(0.4vw + 13px);
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s, box-shadow 0.5s;
}
.windowOne .contentBtnForWindowOne .searchPC {
  background-color: var(--bgSearchImg);
}
.windowOne .contentBtnForWindowOne .searchPC:hover {
  box-shadow: 5px 5px 0px 0px #5d0a3a;
}
.windowOne .contentBtnForWindowOne .searchPC:active {
  background-color: var(--bgActiveImg);
  box-shadow: 5px 5px 0px 0px var(--bgActiveImg);
}
.windowOne .contentBtnForWindowOne .config {
  background-color: var(--bg);
  border: 2px solid var(--bgSearchImg);
}
.windowOne .contentBtnForWindowOne .config:hover {
  box-shadow: 5px 5px 0px 0px #5d0a3a;
}
.windowOne .contentBtnForWindowOne .config:active {
  background-color: var(--bgActiveImg);
  box-shadow: 5px 5px 0px 0px var(--bgActiveImg);
}
.windowOne .content {
  display: flex;
  flex-direction: column;
  gap: calc(0.77vw + 13px);
  width: calc(33vw + 211px);
  position: absolute;
  top: calc(8.3vw + 120px);
  left: calc(23vw + 97px);
  transform: translate(-50%, -50%);
  color: white; /* Adjust text color as needed */
}
.windowOne .navigation {
  position: absolute;
  bottom: calc(8.5vw + 11px);
  right: 0;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: calc(0.64vw + 9.7px);
}
.windowOne .navigation .arrow {
  background-color: var(--bgSearchImg);
  width: calc(2.56vw + 31px);
  height: calc(2.56vw + 31px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.5s, box-shadow 0.5s;
}
.windowOne .navigation .arrow:hover {
  box-shadow: 5px 5px 0px 0px #5d0a3a;
}
.windowOne .navigation .arrow:active {
  background-color: var(--bgActiveImg);
  box-shadow: 5px 5px 0px 0px var(--bgActiveImg);
}
.windowOne .navigation .arrow img {
  width: calc(0.77vw + 11px);
}
.windowOne .navigationBar {
  position: absolute;
  bottom: calc(8.5vw + 11px);
  left: calc(5vw + 6px);
}
.windowOne .navigationBar .navigationBarBody {
  display: flex;
  gap: calc(0.64vw + 4px);
  margin-bottom: 2px;
}
.windowOne .navigationBar .navigationBarBody .locationBar {
  width: calc(3.5vw + 13.5px);
  height: 1px;
  border: 2px solid var(--textSpan);
  background-color: var(--textSpan);
}
@media (min-width: 300px) {
  .windowOne .paddingTop {
    padding-top: calc(3.33vw + 107px);
  }
}
@media (min-width: 601px) {
  .windowOne .paddingTop {
    padding-top: calc(3.8vw + 211px);
  }
}
@media (min-width: 1401px) {
  .windowOne .paddingTop {
    padding-top: calc(3.1vw + 143px);
  }
}/*# sourceMappingURL=style.css.map */