.windowSeven {
  display: flex;
  flex-direction: column;
  padding: 0 calc(6.4vw - 3px);
  padding-bottom: calc(5vw + 54px);
  gap: calc(1.9vw + 13px);
  background-color: var(--bg);
  p{
    font-size: calc(0.77vw + 19px);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .categoryForSevenBox{
    display: flex;
    flex-direction: column;
    gap: 27px;
  }
  .boxCat{
    width: 100%;
  }
  .categoryForSeven{
    display: flex;
    gap: calc(0.77vw + 9px);
    margin-bottom: 5px;
    .serviceBox{
        width: 100%;
    }
    @media (max-width: 900px){
        flex-wrap: wrap;
    }
    
  }
}
