.newsListBox {
  display: flex;
  flex-direction: column;
  width: 402px;
  @media (max-width: 1100px) {
    width: 100%;
  }
  
  .ANewsBoxHeader {
    width: 100%;
    border-bottom: 1px solid var(--bgSearchImg);
    padding-bottom: calc(0.9vw + 17px);
    h3 {
      color: var(--textSpan);
      font-size: calc(0.9vw + 17px);
      font-weight: 600;
      line-height: 120%;
    }
  }
  .renderListBox {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 24px;
    .moreNews{
      .secondaryBtn{
        width: 100%;
      }
    }
    .oneNewsForList {
      padding: calc(1.3vw + 15px);
      border: 2px solid var(--borderInput);
      background: var(--bgInput);
      width: 100%;
      h4 {
        font-size: calc(0.26vw + 19px);
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.24px;
      }
    }
  }
}
