.favourBox {
  display: flex;
  flex-direction: column;
  padding: 0 calc(6.4vw - 3px);
  gap: 2em;

  .favourBoxHeader {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: calc(1.1vw + 13px);
      font-weight: 600;
      line-height: 120%;
    }
    .anctionsChild {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: calc(0.26vw + 7px);
      p {
        font-size: calc(0.4vw + 13px);
        font-weight: 500;
        line-height: 100%;
        transition: color 0.5s;
        cursor: pointer;
        &:hover {
          color: var(--bgSearchImg);
        }
        &:active {
          color: var(--bgActiveImg);
        }
        svg {
          width: calc(0.6vw + 11px);
          path {
            stroke: white; // Исходный цвет обводки
            transition: stroke 0.5s;
          }
          &:hover {
            path {
              stroke: var(--bgSearchImg); // Исходный цвет обводки
              transition: stroke 0.5s;
            }
          }
          &:active {
            path {
              stroke: var(--bgActiveImg); // Исходный цвет обводки
              transition: stroke 0.5s;
            }
          }
          cursor: pointer;
        }
      }
    }
  }
  .favourBoxBody {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
    .starBar {
      padding: 0 calc(1.6vw + 6px);
    }
  }
}
