@charset 'UTF-8';
/* Slider */

/* Icons */

/* Arrows */
.slick-prev,
.slick-next {
  padding: 0 30px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0 10px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  cursor: pointer;

  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
 
  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.slick-prev {
  left: 0px;
}

[dir="rtl"] .slick-prev {
  right: 0px;
  left: auto;
}
.slick-prev:before {
  content: ""; /* Убираем текстовое содержимое */
  width: calc(0.32vw + 14px); /* Задаем ширину изображения */
  height: calc(0.32vw + 14px); /* Задаем высоту изображения */
  background-image: url("../../../Header/img/footer/arrow-left.svg");
  background-size: cover; /* Масштабируем изображение для заполнения контейнера */
  display: inline-block;
}

[dir="rtl"] .slick-prev:before {
  content: "1";
}
.slick-next {
  right: 0px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: 0px;
}
.slick-next:before {
  content: ""; /* Убираем текстовое содержимое */
  width: calc(0.32vw + 14px); /* Задаем ширину изображения */
  height: calc(0.32vw + 14px); /* Задаем высоту изображения */
  background-image: url("../../../Header/img/footer/arrow-right.svg");
  background-size: cover; /* Масштабируем изображение для заполнения контейнера */
  display: inline-block;
}
.firstSlider .slick-next:before{
    display: none;
}
.firstSlider .slick-prev:before{
    display: none;
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 0px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
