.oneNewsBox {
  display: flex;
  flex-direction: column;
  padding: 0 calc(6.4vw - 3px);
  background: var(--bg);
  // padding-top: calc(3.8vw + 166px);
  // padding-bottom: calc(5.13vw + 54px);
  // @media (max-width: 1400px) {
  //   padding-top: calc(3.75vw + 237.5px);
  // }
  // @media (max-width: 600px) {
  //   padding-top: calc(8.3vw + 100px);
  // }
  .LinkForProduct {
    display: flex;
    text-decoration: none;
    gap: 12px;
    p {
      opacity: 0.5;
    }
  }
  .linkBox {
    display: flex;
    gap: 12px;
  }
  .aNewsBoxBody{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: calc(1.4vw + 15px);
    @media (max-width: 1100px) {
      flex-direction: column;
      gap: 32px;
    }
    .aNewsBlock{
        width: 100%;
    }
    .otherNews{
        width: 402px;
        @media (max-width: 1100px) {
          width: 100%;
        }
    }
  }
}
