.mainContainerForAditionall {
  width: 100%;
  .aditionallyBox {
    border: 1px solid var(--borderInput);
    background-color: var(--bgInput);
    display: flex;
    flex-direction: column;
    width: 100%;
    .categoryNameBox {
      display: flex;
      border-bottom: 1px solid var(--borderInput);
      .categoryName {
        font-size: calc(0.5vw + 14px);
        font-weight: 600;
        line-height: 100%;
        padding: calc(0.5vw + 18px) calc(1.4vw + 15px);
        border-right: 1px solid var(--borderInput);
        cursor: pointer;
        transition: color 0.5s;
        &:hover {
          color: var(--bgActiveImg);
        }
      }
      .categoryNameActive {
        color: var(--bgSearchImg);
      }
    }
    .mobileBox {
      .categoryBodyBox.spec{
        padding: 0;
      }
      border: 1px solid var(--borderInput);
      .mobileBoxTitle {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 600;
        img {
          width: 14px;
          height: 16px;
        }
      }

      .mobileBoxContent{
        border: 2px solid var(--bgActiveImg);
        border-top: none;
      }
    }
  }
}
