.aditionallyBox {
  border: 1px solid var(--borderInput);
  background-color: var(--bgInput);
  display: flex;
  flex-direction: column;
  .categoryNameBox {
    display: flex;
    border-bottom: 1px solid var(--borderInput);
    .categoryName {
      font-size: calc(0.5vw + 14px);
      font-weight: 600;
      line-height: 100%;
      padding: calc(0.5vw + 18px) calc(1.4vw + 15px);
      border-right: 1px solid var(--borderInput);
      cursor: pointer;
      transition: color 0.5s;
      &:hover {
        color: var(--bgActiveImg);
      }
    }
    .categoryNameActive {
      color: var(--bgSearchImg);
    }
  }
  .categoryBodyBox {
    display: flex;
    flex-direction: column;
    .specChild {
      padding: calc(0.5vw + 18px) calc(1.4vw + 15px);
      display: flex;
      p {
        width: 50%;
        font-size: calc(0.4vw + 13px);
        font-weight: 400;
        line-height: 140%;
      }
      .specChildName {
        color: var(--textGrey);
      }
    }
    .descChild {
      display: flex;
      flex-direction: column;
      gap: calc(1vw + 12px);
      p {
        font-size: calc(0.4vw + 13px);
        font-weight: 400;
        line-height: 140%;
        color: var(--textSpan);
      }
      .descChildName {
        font-size: calc(0.64vw + 12px);
        font-weight: 600;
        line-height: 140%;
        color: var(--text);
      }
    }
  }
}
