.starBar{
    display: flex;
    gap: calc(0.32vw + 1.84px);
    bottom: 0;
    left: calc(1.7vw + 6px);
    img{
        width: calc(0.7vw + 11.5px);
        cursor: pointer;
    }
    
}
.windowTwo .starBar{
    position: absolute;
}