.basketBox {
  display: flex;
  flex-direction: column;
  padding: 0 calc(6.4vw - 3px);

  .basketBody {
    padding-top: calc(0.9vw + 15px);
    display: flex;
    justify-content: space-between;
    gap: 2%;
    @media (max-width: 600px) {
      flex-direction: column;
    }
    .basketBodyLeft {
      display: flex;
      flex-direction: column;
      width: 73%;
      @media (max-width: 1200px) {
        width: 60%;
      }
      @media (max-width: 800px) {
        width: 50%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
    }
    .basketBodyRight {
      width: 25%;
      @media (max-width: 1200px) {
        width: 40%;
      }
      @media (max-width: 800px) {
        width: 50%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
