.mobileMenu {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  background: linear-gradient(to bottom right, #272632, #4b4c61);
  @media (max-width: 600px) {
    display: block;
  }

  .wrapper {
    width: 100%;
    margin: 0 auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: linear-gradient(to bottom right, #272632, #4b4c61);
    box-shadow: 0 8px 32px 8px rgba(0, 0, 0, 0.3);
  }

  .screen {
    height: 75px;
    width: 100%;
  }

  *[class^="icon-"] {
    height: 24px;
    width: 24px;
  }

  .nav {
    background: var(--borderInput);
    display: flex;
    flex-flow: row nowrap;
  }

  .nav-item {
    flex: 1;
    position: relative;
    cursor: pointer;
    height: 3.5rem;

    .hump {
      top: -24px;
      left: 0;
      right: 0;
      width: 100%;
      position: absolute;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform 500ms ease-out;

      svg,
      path {
        fill: var(--borderInput);
      }
    }

    .title {
      color: var(--text);
      position: absolute;
      left: 0;
      right: 0;
      bottom: -150%;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      transition: bottom 500ms ease-out;
    }

    *[class^="icon-"] {
      position: absolute;
      top: 14px;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: top 500ms ease-out;

      svg,
      path {
        fill: #aaa;
      }
    }
  }

  .nav-item.active {
    .hump {
      transform: scaleY(1);
    }

    .title {
      bottom: 16px;
    }

    *[class^="icon-"] {
      position: absolute;
      top: -8px;

      svg,
      path {
        fill: var(--text);
      }
    }
  }
}
