.windowSix {
  .productBoxForSix {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(1vw + 4px);
  }
  .bestOffers {
    font-size: calc(1.15vw + 12px);
    font-weight: 600;
    line-height: 120%;
  }
  @media (max-width: 400px) {
    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(175vw - 320px);
    }
    .productImg {
      display: flex;
      justify-content: center;
      .mainImg {
        width: 60%;
      }
    }
    .productInfo {
      display: flex;
      align-items: center;
    }
    .priceWithDiscountBox {
      justify-content: center;
      width: 80%;
    }
    .productCost {
      justify-content: center;
      text-align: center;
    }
  }
}
