.windowEight {
  display: flex;
  flex-direction: column;
  padding: 0 calc(6.4vw - 3px);
  padding-bottom: calc(5vw + 54px);
  gap: calc(1.9vw + 13px);
  background-color: var(--bg);
  .windowEightBody {
    display: flex;
    flex-direction: column;
    .windowEightBodyUp {
      display: flex;
      @media (max-width: 1200px) {
        flex-wrap: wrap;
      }
      .windowEightBodyUpLeft {
        display: flex;
        flex-grow: 1;
        flex-basis: 49%;
        @media (max-width: 800px) {
          min-width: none;
        }
        img {
          width: 100%;
        }
      }
      .windowEightBodyUpRight {
        height: calc(20.5vw + 166px);
        border: 2px solid var(--borderInput);
        height: 100%;
        display: flex;
        flex-grow: 1;
        flex-basis: 51%;
        flex-direction: column;
        gap: calc(1.15vw + 18px);
        padding: calc(1.2vw + 16px) calc(1.15vw + 18px);
        .wEightRightUp p {
          font-size: 24px;
          font-weight: 600;
          letter-spacing: 0.24px;
        }
        .wEightRightDown {
          display: flex;
          flex-direction: column;
          gap: calc(0.26vw + 15px);
          p {
            font-size: calc(0.4vw + 12px);
            font-weight: 400;
            color: var(--textSpan);
          }
        }
      }
    }
  }
}

.windowEightBodyDown1 .windowEightBodyDown {
  display: flex;
  @media (max-width: 1400px) {
    flex-direction: column;
  }
  .box2 {
    display: flex;
    @media (max-width: 800px) {
      flex-direction: column;
    }
    .categoryBox {
      @media (max-width: 1400px) {
        width: 33.3%;
      }
      @media (max-width: 800px) {
        width: calc(87vw - 76.7px);
      }
    }
  }
  .box3 {
    display: flex;
    @media (max-width: 800px) {
      flex-direction: column;
    }
    .categoryBox {
      @media (max-width: 1400px) {
        width: 50%;
      }
      @media (max-width: 800px) {
        width: calc(87vw - 76.7px);
      }
    }
  }
  .categoryFlex {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
    p {
      line-height: 120%;
      letter-spacing: 0.24px;
    }
    @media (max-width: 800px) {
      flex-direction: row !important;
    }
  }
  .categoryBox {
    padding-bottom: calc(1vw + 33px);
    @media (min-width: 1400px) {
      width: calc(17.4vw - 81px);
    }
  }
}
.windowEightBodyDown2 .windowEightBodyDown {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  .categoryFlex {
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    text-align: center;
    p {
      line-height: 120%;
      letter-spacing: 0.24px;
    }
    @media (max-width: 800px) {
      flex-direction: row !important;
    }
  }
}


@media (min-width: 1400px) {
  .windowEightBodyDown1{
    display: none;
  }
  .windowEightBodyDown2{
    display: block;
  }
    
}

@media (max-width: 1400px) {
    .windowEightBodyDown1{
      display: block;
    }
    .windowEightBodyDown2{
      display: none;
    }
}
