.filterPage {
  display: flex;
  flex-direction: column;
  padding: 0 calc(6.4vw - 3px);
  // padding-bottom: calc(5vw + 54px);
  gap: calc(1.9vw + 13px);
  background-color: var(--bg);
  .filterBody{
    display: flex;
    gap: 25px;
   
    .filterBodyLeft{
      display: flex;
      flex-direction: column;
      gap: calc(6vw - 66px);
      @media(max-width: 1400px){
        display: none;
      }
    }
  }
}
