.category-dropdown {
  width: calc(15.6vw + 17px);
  border: 1px solid var(--borderInput);
  .category-dropdown-div {
    min-width: calc(15.6vw + 17px);
    position: relative;
    display: flex;
    border: 1px solid var(--bgInput);
    transition: border 0.5s;
    &.open {
      border: 1px solid var(--bgSearchImg);
    }
    .category-dropdown-img {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid var(--borderInput);
      transition: border-left 0.5s;
      cursor: pointer;
      img {
        width: calc(0.45vw + 8.4px);
        height: 17px;
        padding-left: 16px;
        padding-right: 16px;
        transition: transform 0.5s;
      }
      &.rotate {
        border-left: 1px solid var(--bgSearchImg);
        img {
          transform: rotate(45deg);
          fill: var(--bgSearchImg);
        }
      }
    }
  }
  input {
    width: 100%;
    border-right: none;
    border: none;
    background: var(--bgInput);
    padding: calc(0.64vw + 2.7px) calc(1.4vw + 4.9px);
    font-size: calc(0.77vw + 5px);
    font-weight: 400;
    line-height: 10%;
    color: var(--textSpan);
    margin: 0;
    transition: opacity 0.5s;
    cursor: auto;
    z-index: 2;
    transition: color 1s;
    &.activeInput {
      color: var(--bgActiveImg);
    }
  }
  .dropdown-list {
    width: calc(15.6vw + 17px);
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid var(--bgActiveImg);
    border-top: none;
    background: var(--bgInput);
    z-index: 201;
    max-height: 33vh;
    overflow: auto;
    div {
      hr {
        border: 1px solid var(--bgActiveImg);
        border-bottom: none;
      }
    }
    div {
      p {
        padding: calc(0.64vw + 2.7px) calc(1.4vw + 4.9px);
        font-size: calc(0.77vw + 5px);
        font-weight: 400;
        line-height: 140%;
        cursor: pointer;
        transition: color 0.7s;
        &:hover {
          color: var(--bgActiveImg);
        }
      }
    }
    /* Общие стили для скроллбара */
    &::-webkit-scrollbar {
      width: 5px; /* ширина скроллбара */
    }
    /* Стили для бегунка скроллбара */
    &::-webkit-scrollbar-thumb {
      background-color: var(--bgActiveImg); /* цвет бегунка */
      border-radius: 6px; /* радиус углов бегунка */
    }
    /* Стили для трека скроллбара (фон, по которому двигается бегунок) */
    &::-webkit-scrollbar-track {
      background-color: var(--borderInput); /* цвет фона трека */
    }
    /* Если нужно, можно добавить стили для углов бегунка */
    &::-webkit-scrollbar-corner {
      background-color: #f1f1f1; /* цвет фона углов */
    }
  }
}
