.bestBurger.filterBox {
    display: none;
    justify-content: flex-start;
    padding-left: 1.5em;
    width: 100%;
    @media (max-width: 1400px) {
        display: flex;
      }
  }
  .bestBurger {
    display: none;
    justify-content: flex-end;
    z-index: 101;
    .content {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 500px;
      height: 100%;
      background-color: var(--bg);
      transform: translateX(-100%);
      transition: transform 0.5s;
      z-index: 1;
      .contentBestHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid var(--borderInput);
        padding: 25px 20px;
      }
      .contentBody {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 25px 20px;
          height: 100vh;
          overflow: auto;
          z-index: 101;
          .dropdown-list{
            position: relative;
  
        }
      }
    }
    .content.active {
      transform: translateX(0);
    }
    .filterIcon {
      display: flex;
      gap: 10px;
    }
    .filterIcon.cross {
      img {
        width: 14px;
        height: 14px;
        transition: transform 0.3s ease; /* Добавляем переход для плавного эффекта */
        &:hover {
          transform: rotate(360deg); /* Поворачиваем изображение при наведении */
        }
      }
    }
  
    
  }
  